*{
    box-sizing: border-box;
}
.container{
    width: 800px;
    border:3px solid black;
    border-radius: 25px;
    margin: auto;
}
.item{
    background-color: rgb(247, 170, 170);
    border: 3px solid red;
    margin: 5px;
    border-radius: 15px;
    padding: 5px 30px;
}

#cprog{
    float: left;
    width: 48%;
}
#python{
    float: right;
    width: 48%;
}
#java{
    /* float: left; */
    width: 99%;
    clear: both;
}
h3,p{
    text-align: justify;
    color:blue;
}