.boxmodel{
    background-color: palevioletred;
    color: red;
    border-radius: 20px;
    padding: 5px;
    border: 5px solid black;
    border-style: dotted;
    margin: 50px;
    /* padding-left: ;
    padding-top: ;
    padding-bottom: ;
    padding-right: ;*/
    height: 150px;
    width: 550px;
} 